#git{
    background-color:#272625;
}
#git #repoCount button{
padding:10px 30px;
font-weight: bolder;
}
#git a{
    padding: 10px 50px;
    font-size: 16px;
    text-decoration: none;
}
#git #repoDiv a{
 float: left;
}